{% extends "base/basenav.html" %}

{% load bootstrap3 %}

{% block title %}New Document | AMP{% endblock %}

{% block content %}

<!-- JUMBOTRON -->
<div class="jumbotron">
    <div class="container">
        <h1>New Document</h1>
        <p>This page allows you to create a new Document.</p>
    </div>
</div>

<!-- CONTENT -->
<div class="container">

    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
      <li><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
      <li><a href="{% url 'list-contractors' %}">Contractors</a></li>
      <li><a href="{% url 'update-contractor' contractor.pk %}">{{contractor.first_name}} {{contractor.last_name}}</a></li>
      <li class="active">New Document</li>
    </ol>

    <!-- FORM -->
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-success"> Submit</button>
        {% endbuttons %}
    </form>
 
</div>

{% endblock %}
