{% extends "base/basenav.html" %}

{% block title %}New Employee | AMP{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>New Employee!</h1>
        <p>This page allows you to create a new Employee.</p>
    </div>
</div>

<div class="container">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
      <li><a href="{% url 'list-employees' %}">Employees</a></li>
      <li class="active">New</li>
    </ol>

    <!-- Form -->
    {% include "form_template.html" %}
 
</div>

{% endblock %}
