{% extends "base/basenav.html" %}

{% block title %}Read/Update Employee | AMP{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>Read/Update Employee</h1>
        <p>This page allows you to read and update an Employee.</p>
    </div>
</div>

<div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
      <li><a href="{% url 'list-employees' %}">Employees</a></li>
      <li class="active">{{form.first_name.value}} {{form.last_name.value}}</li>
    </ol>

    {% include "form_template.html" %}
</div>

{% endblock %}
