{% extends "navigation.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="jumbotron">
  <div class="container container-form">
    <h1>New Permission</h1>
    <p>After supplying the required information succesfuly sending this form, a new permission will be created.</p>
  </div>
</div>

<div class="container container-form">

  <ol class="breadcrumb">
    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'list-permissions' %}">Permissions</a></li>
    <li class="active">New</li>
  </ol>

  <form class="form" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <hr />
    <button type="submit" class="btn btn-success"> Submit</button>
    <href=" {% url 'list-permissions' %}" class="btn btn-link">Cancel</a>
  </form>

</div>

{% endblock %}
