{% extends "base/basenav.html" %}

{% block title %}Users | AMP{% endblock %}

{% block content %}

<!-- JUMBOTRON -->
<div class="jumbotron">
    <div class="container">
        <h1>Users</h1>
        <p>This page allows you to update the users who have access to your company.</p>
        <p><a href="{% url 'new-user' %}" class="btn btn-primary btn-lg" role="button">Add a User &raquo;</a></p>
    </div>
</div>

<!-- CONTENT -->
<div class="container">

    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
      <li><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
      <li class="active">Users</li>
    </ol>

    <!-- TABLE -->
    <div class="panel panel-default">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th class="visible-lg">Email</th>
                <th>Title</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for user in object_list %}
            <tr>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td class="visible-lg">{{user.email}}</td>
                <td>{{user.title}}</td>
                <td><a href="{% url 'update-user' user.pk %}"><span class="glyphicon glyphicon-pencil"</span></a></td>
                <td><a href="{% url 'delete-user' user.pk %}"><span class="glyphicon glyphicon-remove"</span></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}
