{% extends "base/basenav.html" %}

{% load bootstrap3 %}

{% block title %}New Employee Request | AMP{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>New Employee Request!</h1>
        <p>After supplying the required information and succesfuly sending this form, your request will be given to the proper employee at the company you have requested.</p>
    </div>
</div>

<!-- Form -->
<div class="container">
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary"> Submit</button>
        {% endbuttons %}
    </form>
</div>

{% endblock %}
