{% extends "base/basenav.html" %}

{% block title %}Account | AMP{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>Account</h1>
        <p>This page allows you to update your Account.</p>
    </div>
</div>

<div class="container">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
      <li class="active">Account</li>
    </ol>

    <!-- Form -->
    {% include "form_template.html" %}

</div>

{% endblock %}
