---

- name: Install EPEL
  yum: name=https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
  sudo: yes

- name: Install Packages
  yum: name={{item}} enablerepo=epel
  with_items: [nginx, libsemanage-python]
  sudo: yes

- name: Template nginx.conf
  template: src=nginx.conf dest=/etc/nginx/nginx.conf
  sudo: yes

- name: Template django.conf
  template: src=django.conf dest=/etc/nginx/conf.d/django.conf
  sudo: yes

- name: SE Linux HTTPD Booleans
  seboolean: name={{item}} state=yes persistent=yes
  with_items: [httpd_can_network_connect, httpd_use_nfs]
  sudo: yes

- name: Restart Nginx
  service: name=nginx state=restarted
  sudo: yes
