{% extends "navigation.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="jumbotron">
  <div class="container container-form">
    <h1>New Document</h1>
    <p>This page allows you to create a new Document.</p>
  </div>
</div>

<div class="container container-form">

  <ol class="breadcrumb">
    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'list-contractors' %}">Contractors</a></li>
    <li><a href="{% url 'update-contractor' form.initial.contractor.pk %}">{{ form.initial.contractor.get_full_name }}</a></li>
    <li class="active">New Document</li>
  </ol>

  <form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success"> Submit</button>
  </form>

</div>

{% endblock %}
