---

- name: Install EPEL
  yum: name=https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
  sudo: yes

- name: Install Packages
  yum: name={{item}} enablerepo=epel
  with_items: [python-pip, python-virtualenv, python-devel, gcc, openssl, openssl-devel]
  sudo: yes

- name: Create Directory
  file: path={{dir}} state=directory
  sudo: yes

- name: Copy Directory
  copy: src={{inventory_dir}}/app-server/ dest={{dir}}
  sudo: yes
  when: production is defined

- name: Template Django settings.py
  template: src=settings.py dest={{dir}}/project/settings.py
  sudo: yes

- name: Create Virtual Environment
  command: virtualenv venv chdir={{dir}}
  sudo: yes
  
- name: Install Pip Packages
  pip: requirements={{dir}}/requirements.txt virtualenv={{dir}}/venv
  sudo: yes 

- name: Collect Django Static Assets
  django_manage: command=collectstatic app_path={{dir}} virtualenv={{dir}}/venv
  sudo: yes

- name: Migrate Django SQL Schema
  django_manage: command=migrate app_path={{dir}} virtualenv={{dir}}/venv
  sudo: yes

- name: Generate Send Logs Cron 
  cron: name="Send Logs" day="*" job="{{dir}}/venv/bin/python {{dir}}/manage.py sendlogs"
  sudo: yes

- name: Template uWSGI Django Upstart Init Configuration
  template: src=django.conf dest=/etc/systemd/system/django.service
  sudo: yes

- name: Start uWSGI Django
  service: name=django state=restarted enabled=yes
  sudo: yes
