{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <head>

        <!-- META -->
        <meta charset="utf-8">
        <meta http-equic="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no;">

        <title>{% block title %}{% endblock %}</title>

        <!-- CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> 
        <link href="{{STATIC_URL}}app/css/styles.css" rel="stylesheet">

        <!-- HTML5 SHIM -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <!-- BODY -->
    <body ng-app="app">

        <!-- NAVIGATION -->
        {% block nav %}{% endblock %}

        <!-- MESSAGES -->
        {% bootstrap_messages %}

        <!-- CONTENT -->
        {% block content %}{% endblock %}

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}app/js/fastclick.js"></script>

        <!-- INITIALIZE --> 
        <script>
            $(document).ready(function () {
                FastClick.attach(document.body)
            })
        </script>

    </body>

    <!-- FOOTER -->
    <div class="container">
        <hr>
        <footer>
            <p class="text-center"><small>&copy; GDS Associates 2014<small></p>
        </footer>
    </div>

</html>

