{% extends "base/basenav.html" %}

{% block title %}Requests | AMP{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>Requests</h1>
        <p>This page allows you to view and approve both contractor and employee requests.</p>
    </div>
</div>

<div class="container">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
      <li class="active">Requests</li>
    </ol>

    <!-- Employee Requests-->
    <div class="panel panel-default">
        <div class="panel-heading">Employee Requests</div>

        <!-- List -->
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Requested Permissions</th>
                <th>Approve</th>
                <th>Reject</th>
            </tr>
            {% for request in employee_requests %}
            <tr>
                <td><a href="{% url 'detail-employee-request' request.pk %}">{{request.employee.first_name}} {{request.employee.last_name}}</a></td>
                <td>
                    {% if request.permissions %}
                    <ul>
                        {% for permission in request.permissions.all %}
                        <li>{{permission.name}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
                <td><a href="{% url 'approve-employee-request' request.pk %}"><span class="glyphicon glyphicon-ok"></span></a></td>
                <td><a href="{% url 'reject-employee-request' request.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
            {% endfor %}

        </table>

    </div>

    <!-- Contractor Requests-->
    <div class="panel panel-default">
        <div class="panel-heading">Contractor Requests</div>

        <!-- List -->
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th class="hidden-xs">Employer</th>
                <th>Requested Permissions</th>
                <th class="hidden-xs">Remote</th>
                <th>Approve</th>
                <th>Reject</th>
            </tr>
            {% for request in contractor_requests %}
            <tr>
                <td><a href="{% url 'detail-contractor-request' request.pk %}">{{request.first_name}} {{request.last_name}}</a></td>
                <td class="hidden-xs">{{request.employer}}</td>
                <td>
                    {% if request.permissions %}
                    <ul>
                        {% for permission in request.permissions.all %}
                        <li>{{permission.name}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
                <td class="hidden-xs">{{request.remote}}</td>
                <td><a href="{% url 'approve-contractor-request' request.pk %}"><span class="glyphicon glyphicon-ok"></span></a></td>
                <td><a href="{% url 'reject-contractor-request' request.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
            {% endfor %}

        </table>

    </div>

</div>

{% endblock %}
