{% extends "base/basenav.html" %}

{% block title %}New Employee Request | AMP{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>New Employee Request!</h1>
        <p>After supplying the required information and succesfuly sending this form, your request will be given to the proper employee at the company you have requested.</p>
    </div>
</div>

<div class="container">
    {% include "form_template.html" %}
</div>

{% endblock %}
