{% extends "base/basenav.html" %}

{% block title %}Permissions | AMP{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>Permissions</h1>
        <p>This page allows you to create, read, update and delete permissions. You can also view their individual profiles showing their permissions and requests. Click the button below to add a new permission.</p>
        <p><a href="{% url 'new-permission' %}" class="btn btn-primary btn-lg" role="button">Add Permission &raquo;</a></p>

    </div>
</div>

<div class="container">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
      <li class="active">Permissions</li>
    </ol>

    <!-- List -->
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for permission in object_list %}
        <tr>
            <td>{{permission.name}}</td>
            <td><a href="{% url 'update-permission' permission.pk %}">Update</a></td>
            <td><a href="{% url 'delete-permission' permission.pk %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

</div>

{% endblock %}
