{% extends "base/basenav.html" %}

{% block title %}Permissions | AMP{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>Permissions</h1>
        <p>This page allows you to create, read, update and delete permissions. You can also view their individual profiles showing their permissions and requests. Click the button below to add a new permission.</p>
        <p><a href="{% url 'new-permission' %}" class="btn btn-primary btn-lg" role="button">Add Permission &raquo;</a></p>

    </div>
</div>

<div class="container">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
      <li class="active">Permissions</li>
    </ol>

    <!-- Panel -->
    <div class="panel panel-default">
        <div class="panel-heading">Search Permissions</div>
        <div class="panel-body">

            <!-- Search -->
            <form class="form-inline" method="get" role="form">
                <div class="row">
                    <div class="col-sm-9 form-group">
                        <label class="sr-only" for="eid">Name</label>
                        <input name="name" value="{{name}}" type="number" class="form-control" id="name" placeholder="Name">
                    </div>

                    <div class="col-sm-3 form-group">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="panel-heading">
            <span>Results {{object_list | length}}</span>
            <span class="pull-right"><a href="{% url 'list-permissions' %}">Reset</a></span>
        </div>

        <!-- List -->
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for permission in object_list %}
            <tr>
                <td>{{permission.name}}</td>
                <td><a href="{% url 'update-permission' permission.pk %}"><span class="glyphicon glyphicon-pencil"</span></a></td>
                <td><a href="{% url 'delete-permission' permission.pk %}"><span class="glyphicon glyphicon-remove"</span></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}
