{% extends "base/basenav.html" %}

{% block title %}New Permission | AMP{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>New Permission!</h1>
        <p>After supplying the required information  succesfuly sending this form, a new permission will be created.</p>
    </div>
</div>

<div class="container">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
      <li><a href="{% url 'list-permissions' %}">Permissions</a></li>
      <li class="active">New</li>
    </ol>

    <!-- Form -->
    {% include "form_template.html" %}

</div>

{% endblock %}
