{% extends "base/basenav.html" %}

{% block title %}Read/Update Permission | AMP{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>Read/Update Permission</h1>
        <p>This page allows you to read and update a Permission.</p>
    </div>
</div>

<div class="container">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
      <li><a href="{% url 'list-permissions' %}">Permissions</a></li>
      <li class="active">{{form.name.value}}</li>
    </ol>

    <!-- Form -->
    {% include "form_template.html" %}

</div>

{% endblock %}
