{% extends "base/basenav.html" %}

{% load custom_filters %}

{% block title %}Employees | AMP{% endblock %}

{% block content %}

<!-- JUMBOTRON -->
<div class="jumbotron">
    <div class="container">
        <h1>Employees</h1>
        <p>This page allows you to create, read, update and delete employees. You can also view their individual profiles showing their permissions and requests. Click the button below to add a new employee.</p>
        <p><a href="{% url 'new-employee' %}" class="btn btn-primary btn-lg" role="button">Add an Employee &raquo;</a></p>
    </div>
</div>

<!-- CONTENT -->
<div class="container">

    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
        <li><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
        <li class="active">Employees</li>
    </ol>

    <!-- PANEL -->
    <div class="panel panel-default">

        <!-- SEARCH -->
        <div class="panel-heading">Search Employees
        
            <!-- DOWNLOAD CSV -->
            <form class="pull-right" method="get" action="{% url 'csv-employees' %}" role="form">
                <input name="orderby" type="hidden" value="{{orderby}}">
                <input name="first_name" type="hidden" value="{{first_name}}">
                <input name="last_name" type="hidden" value="{{last_name}}">
                <button type="submit" class="btn-link">Download Employees CSV</a>
            </form>

        </div>
        <div class="panel-body">
            <form class="form-inline" method="get" role="form">
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label class="sr-only" for="eid">Order By</label>
                        <select name="orderby" class="form-control" id="orderby">
                            <option value="">Order By</option>
                            {% for value in options %}
                            {% if value.value == orderby %}
                            <option selected="selected" value="{{value.value}}">{{value.name}}</option>
                            {% else %}
                            <option value="{{value.value}}">{{value.name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label class="sr-only" for="first_name">First Name</label>
                        <input name="first_name" value="{{first_name}}" type="text" class="form-control" id="first_name" placeholder="First Name">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label class="sr-only" for="last_name">Last Name</label>
                        <input name="last_name" value="{{last_name}}" type="text" class="form-control" id="last_name" placeholder="Last Name">
                    </div>

                    <div class="col-sm-3 form-group">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- RESULTS -->
        <div class="panel-heading">
            <span>Results {{page_obj.start_index}} - {{page_obj.end_index}} of {{paginator.count}} </span>
            <span class="pull-right"><a href="{% url 'list-employees' %}">Reset</a></span>
        </div>

        <!-- TABLE -->
        {% if object_list %}
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th class="hidden-xs">Background Due Date</th>
                <th class="hidden-xs">Training Due Date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for employee in object_list %}
            <tr>
                <td>{{employee.eid}}</td>
                <td>{{employee.first_name}} {{employee.last_name}}</td>
                <td class="hidden-xs">{{employee.last_background_check_date|add_days:"2555"}}</td>
                <td class="hidden-xs">{{employee.last_training_date|add_days:"365"}}</td>
                <td><a href="{% url 'update-employee' employee.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href="{% url 'delete-employee' employee.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <!-- PAGINATION -->
        {% if page_obj.has_previous or page_obj.has_next %}
        <div class="panel-footer clearfix">

              {% if page_obj.has_previous %}
              <form method="get" action="{% url 'list-employees' %}" role="form">
                  <input name="orderby" type="hidden" value="{{orderby}}">
                  <input name="first_name" type="hidden" value="{{first_name}}">
                  <input name="last_name" type="hidden" value="{{last_name}}">
                  <input name="page" type="hidden" value="{{page_obj.previous_page_number}}">
                  <button type="submit" class="pull-left btn btn-default">Previous</button>
              </form>
              {% endif %}

              {% if page_obj.has_next %}
              <form method="get" action="{% url 'list-employees' %}" role="form">
                  <input name="orderby" type="hidden" value="{{orderby}}">
                  <input name="first_name" type="hidden" value="{{first_name}}">
                  <input name="last_name" type="hidden" value="{{last_name}}">
                  <input name="page" type="hidden" value="{{page_obj.next_page_number}}">
                  <button type="submit" class="pull-right btn btn-default">Next</button>
              </form>
              {% endif %}

        </div>
        {% endif %}

    </div>

</div>

{% endblock %}
