{% extends "base/basenav.html" %}

{% load bootstrap3 %}

{% block title %}New Employee | AMP{% endblock %}

{% block content %}

<!-- JUMBOTRON -->
<div class="jumbotron">
    <div class="container">
        <h1>New Employee!</h1>
        <p>This page allows you to create a new Employee.</p>
    </div>
</div>

<!-- CONTENT -->
<div class="container">

    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
      <li><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
      <li><a href="{% url 'list-employees' %}">Employees</a></li>
      <li class="active">New</li>
    </ol>

    <!-- FORM -->
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary"> Submit</button>
        {% endbuttons %}
    </form>
 
</div>

{% endblock %}
