{% extends "base/basenav.html" %}

{% load custom_filters %}

{% block title %}Contractors | AMP{% endblock %}

{% block content %}

<!-- JUMBOTRON -->
<div class="jumbotron">
    <div class="container">
        <h1>Contractors</h1>
        <p>This page allows you to create, read, update and delete contractors. You can also view their individual profiles showing their permissions and requests. Click the button below to add a new contractor.</p>
        <p><a href="{% url 'new-contractor' %}" class="btn btn-primary btn-lg" role="button">Add a Contractor &raquo;</a></p>
    </div>
</div>

<!-- CONTENT -->
<div class="container">

    <!-- BREADCRUMBS -->
    <ol class="breadcrumb">
      <li><a href="{% url 'dashboard-home' %}">Dashboard</a></li>
      <li class="active">Contractors</li>
    </ol>

    <!-- PANEL -->
    <div class="panel panel-default">

        <!-- SEARCH -->
        <div class="panel-heading">Search Contractors
        
            <!-- DOWNLOAD CSV -->
            <form class="pull-right" method="get" action="{% url 'csv-contractors' %}" role="form">
                <input name="orderby" type="hidden" value="{{orderby}}">
                <input name="first_name" type="hidden" value="{{first_name}}">
                <input name="last_name" type="hidden" value="{{last_name}}">
                <button type="submit" class="btn-link">Download Contractors CSV</a>
            </form>

        </div>
        <div class="panel-body">
            <form class="form-inline" method="get" role="form">
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label class="sr-only" for="eid">Order By</label>
                        <select name="orderby" class="form-control" id="orderby">
                            <option value="">Order By</option>
                            {% for value in options %}
                            {% if value.value == orderby %}
                            <option selected="selected" value="{{value.value}}">{{value.name}}</option>
                            {% else %}
                            <option value="{{value.value}}">{{value.name}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label class="sr-only" for="first_name">First Name</label>
                        <input name="first_name" value="{{first_name}}" type="text" class="form-control" id="first_name" placeholder="First Name">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label class="sr-only" for="last_name">Last Name</label>
                        <input name="last_name" value="{{last_name}}" type="text" class="form-control" id="last_name" placeholder="Last Name">
                    </div>
                    <div class="col-sm-3 form-group">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- RESULTS -->
        <div class="panel-heading">
            <span>{{object_list | length}} Results</span>
            <span class="pull-right"><a href="{% url 'list-contractors' %}">Reset</a></span>
        </div>

        <!-- TABLE -->
        {% if object_list %}
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Employer</th>
                <th class="hidden-xs hidden-sm">Background Due Date</th>
                <th class="hidden-xs hidden-sm">Training Due Date</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for contractor in object_list %}
            <tr>
                <td>{{contractor.first_name}} {{contractor.last_name}}</td>
                <td>{{contractor.employer}}</td>
                <td class="hidden-xs hidden-sm">{{contractor.last_background_check_date|add_days:"2555"}}</td>
                <td class="hidden-xs hidden-sm">{{contractor.last_training_date|add_days:"365"}}</td>
                <td><a href="{% url 'update-contractor' contractor.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td><a href="{% url 'delete-contractor' contractor.pk %}"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

    </div>

</div>

{% endblock %}
