{% extends "base/basenav.html" %}

{% block title %}Dashboard | AMP{% endblock %}

{% block content %}

<!-- Jumbotron | Allows login-->
<div class="jumbotron">
    <div class="container">
      <h1>{{user.company}} Dashboard!</h1>
        <p>Use these dashboard options to choose a feature of AMP that you would like to explore.
    </div>
</div>

<div class="container">

    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
        <li class="active">Dashboard</li>
    </ol>

    <!-- Dashboard Options -->
    <div class="row">
        
        <!-- Employees -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Employees</div>
                <div class="panel-body">
                    <p>Create, Read, Update, and Delete Employees. This feature allows you to manage all aspects of an Employee including its permissions and requests.
                    <p><a href="{% url 'list-employees' %}" class="btn btn-default" role="button">Employees &raquo;</a></p>
                </div>
            </div>
        </div>

        <!-- Contractors -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Contractors</div>
                <div class="panel-body">
                    <p>Create, Read, Update, and Delete Contractors. This feature allows you to manage all aspects of a Contractor including its permissions and requests.
                    <p><a href="{% url 'list-contractors' %}" class="btn btn-default" role="button">Contractors &raquo;</a></p>
                </div>
            </div>
        </div>

        <!-- Requests -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Requests</div>
                <div class="panel-body">
                    <p>Create, Read, Update, and Delete Requests. This feature allows you to manage all aspects of a Request.
                    <p><a href="{% url 'list-requests' %}" class="btn btn-default" role="button">Requests &raquo;</a></p>
                </div>
            </div>
        </div>

        <!-- Permissions -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Permissions</div>
                <div class="panel-body">
                    <p>Create, Read, Update, and Delete Permissions. This feature allows you to manage all aspects of a Permission.
                    <p><a href="{% url 'list-permissions' %}" class="btn btn-default" role="button">Permissions &raquo;</a></p>
                </div>
            </div>
        </div>

        <!-- Logs -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Logs</div>
                <div class="panel-body">
                    <p>Create, Read, Update, and Delete Logs. This feature allows you to view and filter the logs that have been generated for you.
                    <p><a href="{% url 'list-logs'%}" class="btn btn-default" role="button">Logs &raquo;</a></p>
                </div>
            </div>
        </div>

        <!-- Account -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Account</div>
                <div class="panel-body">
                    <p>Manage your account. This includes: changing your password, changing your email address, etc..</p>
                    <p><a href="{% url 'update-account' %}" class="btn btn-default" role="button">Account &raquo;</a></p>
                </div>
            </div>
        </div>

        {% if user.title == "CIP Manager" or user.title == "Alternate CIP Manager" %}

        <!-- Users -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Users</div>
                <div class="panel-body">
                    <p>Manage your users. This feature allows you to manage the different positions and users that are allowed access to this system.</p>
                    <p><a href="{% url 'list-users' %}" class="btn btn-default" role="button">Users &raquo;</a></p>
                </div>
            </div>
        </div>

        <!-- Settings -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Settings</div>
                <div class="panel-body">
                    <p>Update your system settings. This feature allows you to manage the different system settings that affect your interaction with AMP.</p>
                    <p><a href="{% url 'update-settings' %}" class="btn btn-default" role="button">Settings &raquo;</a></p>
                </div>
            </div>
        </div>

        {% endif %}

    </div>
</div>

{% endblock %}
