body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.alert {
    top: 62px;
    position: fixed;
    width: 100%;
    text-align: center;
}

.jumbotron {
    background-image: url('/static/app/images/bg.jpeg');
    background-size: cover;
    color: white;
}

.form-inline .row .form-group input,
.form-inline .row .form-group select,
.form-inline .row .form-group button {
    width: 100%;
}

.tab-pane {
    padding-top: 20px;
}

.navbar.navbar-inverse {
    border-bottom-width: 12px;
    border-bottom-color: #449d44;
}
