body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.message {
    top: 47px;
    position: fixed;
    width: 100%;
    text-align: center;
}

.jumbotron {
    background-image: url('http://www.cinemaparadiz.com/wp-content/uploads/2013/07/WhiteBg1.jpg');
    background-size: cover;
}
