<!-- app.html -->

<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Meta (set charset, ie-compatability, mobile viewport) -->
        <meta charset="utf-8">
        <meta http-equic="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no;">

        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> 

        <!-- Custom CSS -->
        <link href="{{STATIC_URL}}app/css/styles.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <!-- BODY -->
    <body ng-app="app">

    <!-- Navigation -->
    {% block nav %}{% endblock %}

    <!-- Messages -->
    {% if messages %}
    {% for message in messages %}
    {% if message.level == 25 %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p>{{message}}</p>
    </div>
    {% else %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p>{{message}}</p>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- Main Content -->
    {% block content %}{% endblock %}

    <!-- JavaScript Imports -->

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Fastclick -->
    <script src="{{STATIC_URL}}app/js/fastclick.js"></script>

    <!-- Instantiate FastClick --> 

    <script>
        $(document).ready(function () {
            FastClick.attach(document.body)
        })
    </script>

    </body>

    <div class="container">
        <hr>
        <footer>
            <p class="text-center"><small>&copy; GDS Associates 2014<small></p>
        </footer>
    </div>

</html>

