{% extends "basenav.html" %}

{% block title %}Home | AMP{% endblock %}

{% block content %}

<!-- Jumbotron | Allows login-->
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to AMP!</h1>
        <p>If you are already a user of AMP, press the button below to login.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Login &raquo;</a></p>

        <p><strong>Otherwise</strong>, if you are an employee or contractor, choose the corresponding option below to submit a request to gain permissions to one of AMP's registered companies.
    </div>
</div>

<!-- Permission Requests -->
<div class="container">
    <div class="row">
        
        <!-- Employee -->
            <div class="col-md-6">
                <h2>Employee Requests</h2>
                <p>If you are a current employee at a company using AMP, and you would like to make a request for specific permissions, click the button below.</p>
                <p><a class="btn btn-default" href="#" role="button">Make Employee Request &raquo;</a></p>
            </div>   

        <!-- Contractor -->
            <div class="col-md-6">
                <h2>Contractor Requests</h2>
                <p>If you are a contractor and would like to make a request for specific permissions at a company using AMP, click the button below.</p>
                <p><a class="btn btn-default" href="#" role="button">Make Contractor Request &raquo;</a></p>

            </div>   

    </div>
</div>

{% endblock %}
