{% extends "basenav.html" %}

{% block title %}New Contractor Request | AMP{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>New Contractor Request!</h1>
        <p>After supplying the required information and succesfuly sending this form, your request will be given to the proper employee at the company you have requested.</p>
    </div>
</div>

<div class="container">
    <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{form.non_field_errors}}</div>
        {% endif %}

        <div class="form-group">
            {% if form.company.errors %}
            <div class="col-sm-offset-2 col-sm-10 alert alert-danger">{{form.company.errors}}</div>
            {% endif %}
            <label for="id_company" class="col-sm-2 control-label">Company:</label>
            <div class="col-sm-10">
                {{form.company}}
            </div>
        </div>

        <div class="form-group">
            {% if form.first_name.errors %}
            <div class="col-sm-offset-2 col-sm-10 alert alert-danger">{{form.first_name.errors}}</div>
            {% endif %}
            <label for="id_first_name" class="col-sm-2 control-label">First Name:</label>
            <div class="col-sm-10">
                {{form.first_name}}
            </div>
        </div>

        <div class="form-group">
            {% if form.last_name.errors %}
            <div class="col-sm-offset-2 col-sm-10 alert alert-danger">{{form.last_name.errors}}</div>
            {% endif %}
            <label for="id_last_name" class="col-sm-2 control-label">Last Name:</label>
            <div class="col-sm-10">
                {{form.last_name}}
            </div>
        </div>


        <div class="form-group">
            {% if form.email.errors %}
            <div class="col-sm-offset-2 col-sm-10 alert alert-danger">{{form.email.errors}}</div>
            {% endif %}
            <label for="id_email" class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-10">
                {{form.email}}
            </div>
        </div>

        <div class="form-group">
            {% if form.employer.errors %}
            <div class="col-sm-offset-2 col-sm-10 alert alert-danger">{{form.employer.errors}}</div>
            {% endif %}
            <label for="id_employer" class="col-sm-2 control-label">Employer:</label>
            <div class="col-sm-10">
                {{form.employer}}
            </div>
        </div>

        <div class="form-group">
            {% if form.permissions.errors %}
            <div class="col-sm-offset-2 col-sm-10 alert alert-danger">{{form.permissions.errors}}</div>
            {% endif %}
            <label for="id_permissions" class="col-sm-2 control-label">Permissions:</label>
            <div class="col-sm-10">
                {{form.permissions}}
            </div>
        </div>

        <div class="form-group">
            {% if form.remote.errors %}
            <div class="col-sm-offset-2 col-sm-10 alert alert-danger">{{form.remote.errors}}</div>
            {% endif %}
            <label for="id_remote" class="col-sm-2 control-label">Remote:</label>
            <div class="col-sm-10">
                {{form.remote}}
            </div>
        </div>

        <div class="form-group">
            {% if form.background_check.errors %}
            <div class="col-sm-offset-2 col-sm-10 alert alert-danger">{{form.background_check.errors}}</div>
            {% endif %}
            <label for="id_background_check" class="col-sm-2 control-label">Background Check:</label>
            <div class="col-sm-10">
                {{form.background_check}}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit Request</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
