{% extends "basenav.html" %}

{% block title %}New Employee Request | AMP{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1>New Employee Request!</h1>
        <p>After supplying the required information and succesfuly sending this form, your request will be given to the proper employee at the company you have requested.</p>
    </div>
</div>

<div class="container">
    <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">{{form.non_field_errors}}</div>
        {% endif %}

        <div class="form-group">
            {% if form.company.errors %}
            <div class="col-sm-offset-2 col-sm-10 alert alert-danger">{{form.company.errors}}</div>
            {% endif %}
            <label for="id_company" class="col-sm-2 control-label">Company:</label>
            <div class="col-sm-10">
                {{form.company}}
            </div>
        </div>


        <div class="form-group">
            {% if form.employee.errors %}
            <div class="col-sm-offset-2 col-sm-10 alert alert-danger">{{form.employee.errors}}</div>
            {% endif %}
            <label for="id_employee" class="col-sm-2 control-label">Employee:</label>
            <div class="col-sm-10">
                {{form.employee}}
            </div>
        </div>

        <div class="form-group">
            {% if form.permissions.errors %}
            <div class="col-sm-offset-2 col-sm-10 alert alert-danger">{{form.permissions.errors}}</div>
            {% endif %}
            <label for="id_permissions" class="col-sm-2 control-label">Permissions:</label>
            <div class="col-sm-10">
                {{form.permissions}}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit Request</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
