{% extends "navigation.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="jumbotron">
  <div class="container container-form">
    <h1>Contractor Request</h1>
    <p>
      Press submit after filling in the requested information.
      You will be notified when your request status is updated.
    </p>
  </div>
</div>

<div class="container container-form">
  <form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <hr />
    <button type="submit" class="btn btn-success">Submit Request</button>
    <a href="{% url 'landing' %}" class="btn btn-link">Cancel</a>
  </form>
</div>
{% endblock %}
